.location {
  position: absolute;
  width: 100px;
  height: 100px;
}

.location-circle {
  width: 100%;
  height: 100%;
  border: 5px solid orange;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.success-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

.city { top: 10%; left: 10%; }
.smallBusiness { top: 20%; right: 20%; }
.largeOffice { bottom: 30%; left: 30%; }
.village { top: 40%; left: 50%; }
.oilRig { bottom: 20%; right: 10%; }