.location {
  position: absolute;
  width: 100px;
  height: 100px;
}

.location-circle {
  width: 50%;
  height: 50%;
  border: 10px solid orange;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-circle.success {
  border-color: green;
}

.location img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.success-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
}

.city { top: 35%; left: 10%; }
.smallBusiness { top: 35%; left: 50%; }
.largeOffice { bottom: 50%; left: 15%; }
.village { top: 35%; right: 10%; }
.oilRig { bottom: 20%; right: 10%; }